<app-navbar></app-navbar>

<div class="flex flex-col flex-wrap gap-5">
  <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Enter Your SPARQL
    Query</label>

  <textarea #textarea id="message" rows="4"
            class="query block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
  <div class="button-run" (click)="this.runQuery(textarea)">
    <a class="bg-green-500 hover:bg-green-700 text-sm text-white font-bold py-2 px-4 rounded">
      Run query
    </a>
  </div>
  <div class="error" *ngIf="errorText!=''">{{this.errorText}}</div>
</div>
<div class="mt-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
    <tr>
      <th *ngFor="let h of headings()" scope="col" class="px-6 py-3">
        {{h}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of results" class="bg-gray-50 border-b">
      <td *ngFor="let data of keys(result)" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
        {{result[data]['value']}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
