<div class="button-container">
  <div class="button-add">
    <a href="/sparql" class="bg-blue-500 hover:bg-blue-700 text-sm text-white font-bold py-2 px-4 rounded">
      SPARQL
    </a>
  </div>
  <div class="button-add">
    <a href="/esolist" class="bg-yellow-500 hover:bg-yellow-700 text-sm text-white font-bold py-2 px-4 rounded">
      EsoLangs List
    </a>
  </div>
  <div class="button-add">
    <a href="/add-esolang" class="bg-green-500 hover:bg-green-700 text-sm text-white font-bold py-2 px-4 rounded">
      Add EsoLang
    </a>
  </div>
</div>

<div class="page-container text-center" *ngIf="currentState === States.START">
  <div class="text-4xl font-medium">ELA</div>
  <div class="text-2xl">
    Explore Esoteric
    Programing Languages
  </div>
  <div class="mt-4">
    We have prepared a quiz for you to find an EsoLang that is best suited for you.
    Press <span class="cursor-pointer" (click)="start()"><b><u>here</u></b></span> to open the quiz. <br>

    If you want to explore all EsoLangs go to <a href="/esolist" target="esolist"><b><u>EsoLang list</u></b></a>.
  </div>

</div>

<div class="page-container text-center" *ngIf="currentState === States.QUESTION">
  <div class="text-4xl font-medium">Question {{ currentQuestion + 1 }}</div>

  <div class="text-xl">{{ questions[currentQuestion].name }}</div>

  <ul
    *ngIf="questions[currentQuestion].type === QuestionType.SINGLE || questions[currentQuestion].type === QuestionType.MULTI"
    class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg w-[280px] max-h-[320px] overflow-auto">
    <li *ngFor="let option of questions[currentQuestion].options" class="w-full border-b border-gray-200 rounded-t-lg">
      <div class="flex items-center ps-3">
        <input [disabled]="questions[currentQuestion].disabled"
               (click)="selectOption(currentQuestion, option)"
               id="vue-checkbox" type="checkbox" value=""
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
        <label for="vue-checkbox"
               class="w-full py-3 ms-2 text-sm font-medium text-gray-900">{{ option.label || option }}</label>
      </div>
    </li>
  </ul>

  <div *ngIf="questions[currentQuestion].type === QuestionType.DATE">
    <input class="border border-gray-200 rounded-lg p-2" #dateInput
           (click)="selectOption(currentQuestion, dateInput.value)" type="date" name="trip-start" value="2024-02-03"/>
  </div>

  <div>
    <button (click)="next()" class="bg-blue-500 hover:bg-blue-700 text-sm text-white font-bold py-2 px-4 rounded">
      {{ currentQuestion + 1 === questions.length ? 'Finish' : 'Next' }}
    </button>
  </div>
</div>

<div class="page-container" *ngIf="currentState === States.RESULT">

  <div class="grid grid-cols-2 gap-4">

    <div class="relative overflow-x-auto rounded-md">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
        <tr>
          <th scope="col" class="px-6 py-3">
            Product name
          </th>
          <th scope="col" class="px-6 py-3">
            Color
          </th>
          <th scope="col" class="px-6 py-3">
            Category
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-gray-50 border-b">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4">
            Silver
          </td>
          <td class="px-6 py-4">
            Laptop
          </td>
          <td class="px-6 py-4">
            $2999
          </td>
        </tr>
        <tr class="bg-gray-50 border-b">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            Microsoft Surface Pro
          </th>
          <td class="px-6 py-4">
            White
          </td>
          <td class="px-6 py-4">
            Laptop PC
          </td>
          <td class="px-6 py-4">
            $1999
          </td>
        </tr>
        <tr class="bg-gray-50">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            Magic Mouse 2
          </th>
          <td class="px-6 py-4">
            Black
          </td>
          <td class="px-6 py-4">
            Accessories
          </td>
          <td class="px-6 py-4">
            $99
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      Hello
    </div>

  </div>

</div>

<div class="page-container" *ngIf="currentState === States.ADD_LANGUAGE">
  Adauga un formular
</div>
